@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
    box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-dark-RE{
  color: #060318;
}
html {
  scroll-behavior: smooth;
}